<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<script>
    $(document).ready(function(){
        $($(".menu").find('li').find('a')[4]).attr('class','active');
    });
</script>
<br></br>


<!-- content -->
    <section id="content">
        <div class="bg-top">
        	<div class="bg-top-2">
                <div class="bg" style="background: url(<%= image_path("bg-top.jpg")%>) center top no-repeat;">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="box">
                                <div class="padding">
                                    <div class="container_12">
                                        <div class="wrapper">
                                            <div class="grid_12">
                                            	<div class="indent-left">
                                                	<article class="grid_9">
                                                   	  <h3 class="prev-indent-bot">Adres:</h3>
                                                        <dl>
                                                          <dt class="indent-bot">Şehit Kamil / GAZİANTEP</dt>
                                                          <dd><span>İletişim Tel::</span> +90 536 050 2030</dd>
                                                          <dd>&nbsp;</dd>
                                                          <dd><strong>E-mail:</strong> <a href="#">gaziayintapsolucanevi@gmail.com</a></dd>
                                                        </dl>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="bg-bot" style="background:url(<%=image_path('bg-bot-tail.gif')%>)">
        	<div class="main">
            	<div class="container_12">
                	<div class="wrapper">
                	  
                  </div>
            	</div>
            </div>
        </div>
    </section>
    