<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<script>
    $(document).ready(function(){
        $($(".menu").find('li').find('a')[2]).attr('class','active');
    });
</script>
<br></br>
 <section id="content">
        <div class="bg-top">
        	<div class="bg-top-2">
                <div class="bg" style="background: url(<%= image_path("bg-top.jpg")%>) center top no-repeat;">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="gallery p3">
                              <div class="inner-2">
                              <img style="width:100%; height:450px;" src="<%= image_path("solucan.jpg")%>"/>
                                <p>  <strong>Kırmızı Kaliforniya Solucanı</strong>, diğer adıyla Latincede Eisenia Foetida ilk defa Kaliforniya’da melezlenmesi dolayısıyla Kırmızı Kaliforniya solucanı olarak adlandırılmıştır.</p>
                                <p>Kendine özgü özellikleri olan ve ekolojik önemi fazla olan canlılardır solucanlar. Doğadaki rollerine baktığımızda gerçekten solucanların toprak üzerindeki yararlı etkileri saymakla bitmez.</p>
                                <p>Kırmızı kaliforniya solucanın karakteristik özelliklerini sıralayacak olursak; çok zayıf ışık dışında tüm ışıklardan kaçarlar ve güneş ışığına maruz kaldıklarında kısa süre sonra ölürler.</p>
                                <p>Ne tür şeyler yerler sorusuna sıra geldiğinde; genelde büyük işletmelerde mama olarak fermente edilmiş büyükbaş hayvan gübresi ile beslenirler, fakat evde hobi olarak besleyenler için asidik olmayan meyve sebzeler; örneğin muz kabuğu, domates kabuğu gibi meyve sebze atıkları verilebilir. Özellikle çay posası ve kahve telvesi en çok sevdikleri şeylerdir. Günde ortalama ağırlıkları kadar mama tüketirler.</p>
                                <p>Uygun şartlarda ortalama 5 yıla kadar yaşayabilirler. 1000 solucan günde ortalama yarım kilo gübre üretir. Kırmızı Kaliforniya solucanları 40°C’yi geçmeyen sıcaklıkta ve 0°C sıcaklıkta hayatta kalabilirler, 20°C solucanların üretimi ve çoğalmaları için en ideal sıcaklıktır.</p>
                                <p>Atlas solucan gübresi, kırmızı kaliforniya solucanı, solucan maması<br>
                                  Kırmızı kaliforniya solucanlarının en önemli özelliklerinde biride çok çabuk üremeleridir. Ortalama üç dört ay içinde sayılarını ikiye katlayabilirler.</p>
                                <p>Yumurtlayarak çoğalırlar ve bir solucan yılda yaklaşık olarak 1500 civarında yumurta bırakır, her bir yumurtadan 1 ile 21 arası solucan yavrusu çıkar. Yumurtaları limona benzeyip büyüklüğü ortalama mercimek tanesi kadardır. Yetişkin solucanlar yaklaşık üç dört ay sonra üreyerek sayılarını uygun şartlarda 20 katına kadar çıkarabilirler</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="bg-bot">
        	<div class="main">
            	<div class="container_12"></div>
            </div>
        </div>
    </section>