<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<script>
    $(document).ready(function(){
        $($(".menu").find('li').find('a')[2]).attr('class','active');
    });
</script>
<br></br>
 <section id="content">
        <div class="bg-top">
        	<div class="bg-top-2">
                <div class="bg" style="background: url(<%= image_path("arka.jpg")%>) center top no-repeat;">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="gallery p3">
                              <div class="inner-2">
                            
                                <p>  <strong>KAHVALTI</strong> </p>
                                
                                <p> Mundo Serpme Kahvaltı       <br>
                                    Kahvaltı Tabağı          <br>
                                    Öğrenci Kahvaltısı         <br>
                                     Omlet                       <br>
                                     Sahanda Menemen           <br>
                                     Sahanda Yumurta             <br>
                                     Panini/Tost                 <br> <br>
                                     
                                    <strong>ANA YEMEKLER</strong> <br>
                                    İstiridye Soslu Dana Bonfile<br>
                                    Pad Thai (Sebze/Tavuk/Karides)<br>
                                    Tikka Masala<br>
                                    Sebzeli Tori Karage<br>
                                    Mundo Tapas<br>
                                    Pub Tapas<br>
                                    Mexican Tapas<br>
                                    Belgian Tapas<br>
                                    Veggie Pizza<br>
                                    Margarita Pizza<br>
                                    El Turco Pizza<br>
                                    Quatro Cheese<br>
                                    Klasik Burger<br>
                                    Mundo Burger<br>
                                    Steak Burger<br>
                                    Veggie Burger<br>
                                    Mini Burger<br><br>
                                    <strong>TATLILAR</strong> <br>
                                    Tiramisu<br>
                                    Trileçe<br>
                                    Cheesecake (Limon/Frambuaz)<br>
                                    Havuçlu Kek<br>
                                    Dondurmalı Brownie<br><br>
                                    <strong>KOKTEYLLER</strong> <br>
                                    Asuman (Limonlu)<br>
                                    Fahrettin (Viskili/İsli)<br>
                                    Haydar (Acılı)<br>
                                    Safiye (Tatlı/Ekşi)<br>
                                    Kamuran (Salatalık/Fesleğen)<br><br>
                                    
                                    
                                    </p>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="bg-bot">
        	<div class="main">
            	<div class="container_12"></div>
            </div>
        </div>
    </section>