<%= render partial: "layouts/shared/arka_taraf/navbar" %>


<h1>Editing Faydalar</h1>

<%= render 'form', faydalar: @faydalar %>

<%= link_to 'Show', @faydalar %> |
<%= link_to 'Back', faydalars_path %>
